# ここにmongoDBへのコネクション情報を入れます
MONGODB_URI = "mongodb://メールアドレス:パスワード@ac-9xwaqwb-shard-00-00.hlfmytj.mongodb.net:27017,ac-9xwaqwb-shard-00-01.hlfmytj.mongodb.net:27017,ac-9xwaqwb-shard-00-02.hlfmytj.mongodb.net:27017/?ssl=true&replicaSet=atlas-8l5z4f-shard-0&authSource=admin&appName=データベース名"